# Environment
ENVIRONMENT=dev

# Azure Event Hubs
EVENT_HUB_NAMESPACE=
EVENT_HUB_NAME=

# Azure Storage / ADLS
STORAGE_ACCOUNT_NAME=

# Azure Databricks
DATABRICKS_HOST=
DATABRICKS_SERVING_ENDPOINT=

# Azure Function
AZURE_FUNCTION_URL=
